* {
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}


body {

    color: #4B2E1E;
    font-family: "Roboto", sans-serif;



}


/* TODO: conterheader */

.conterheader {

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 50px;
    background: white;


}

/* TODO: Coffeecup */

.coffeeCup {

    display: flex;
    flex-wrap: wrap;

    align-items: center;
    gap: 8px;
    align-content: center;
}

.coffeeCup>img {

    height: 40px;
    width: 40px;
    object-fit: cover;


}

.coffeeCup p {
    margin-top: 20px;
    line-height: 1;
    font-size: 1.3rem;
    font-weight: 600;
}

/* TODO: navigation Bar */

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    font-size: 1.3rem;
    margin-top: 20px;
}

/* TODO: createButton */

.createButton {

    display: flex;
    align-items: center;
    gap: 10px;

}

.fa-solid.fa-magnifying-glass {

    font-size: 19px;
    margin-top: 20px;
}

.createButton>button {

    padding: 7px;
    width: 100px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

.fa-solid.fa-bars {

    display: none;
}

/* TODO: createMain */

.createMain {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 120px;
}

/* TODO:creatText */

.creatText {

    width: 60ch;
}

.creatText h2 {

    text-align: center;
}

.creatText p {
    margin-top: 5px;
    line-height: 1.5rem;
    text-align: center;

}



/* TODO: maincontent */

.createmainImage img {

    height: 370px;
    width: 370;

    object-fit: cover;
}

.btn-grad {
    background-image: linear-gradient(to right, #870000 0%, #190A05 51%, #870000 100%);


}

.btn-grad {
    margin-top: 0.5rem;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.buttonContainer {

    display: flex;
    justify-content: center;
}

.btn-grad:hover {

    background-position: right center;
    color: #fff;
    text-decoration: none;
}


.createImaging {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.createOrder {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
}

.valuePara {

    margin-top: 5px;
}

.containImage {

    margin-top: 200px;
}

.createTitle {

    text-align: center;
}

a {
    text-decoration: none;
    color: #4B2E1E;
}

a:hover {

    text-decoration: underline;
    color: #4B2E1E;

}

/* TODO: creatAboutcontainer */

.creatAboutcontainer {
    margin-top: 150px;
}

.createAbout h2 {

    text-align: center;



}

.createAbout div>img {


    height: 300px;
    width: 700px;
    margin-top: 30px;
    object-fit: cover;
    border-radius: 10px;

}

.middleImage {

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;


}

.middleImage p {

    line-height: 1.4rem;
    font-size: 1.1rem;
    margin-top: 15px;
    width: 70ch;
    text-align: center;
}


.contactPage {

    display: flex;
    justify-content: space-around;
    align-items: center;
}


.coffeed {

    height: 40px;
    width: 40px;
    object-fit: cover;
}

.createdfooter {

    display: flex;
    gap: 20x;
    align-items: center;

}

.createdfooter h2 {

    margin-top: 20px;
}

.createShop p {

    line-height: 1.5rem;
    text-align: center;
}



.contactPage {
    background: #E0C9A6;
    margin-top: 50px;


}

.createdfooter {

    display: flex;
    align-items: center;
    justify-content: center;
}

.createaddress p {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
}

@media screen and (max-width: 768px) {

    .conterheader {
        gap: 100px;
    }

    ul {

        display: none;
    }

    .createButton {

        display: none;
    }

    .fa-solid.fa-bars {
        display: block;
        font-size: 20px;
        margin-top: 20px;

    }

    .creatText {

        width: 40ch;
    }

    .createmainImage {

        order: -1;
    }

    .createImaging {



        flex-direction: column;


    }

    .containImage {

        margin-top: 50px;
    }

    .createAbout div>img {


        height: 250px;
        width: 400px;
        margin-top: 30px;
        object-fit: cover;
        border-radius: 10px;

    }



    .middleImage p {


        width: 40ch;
    }

    .contactPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .createaddress {

        margin: 20px;
    }

    .createaddress p {


        margin-left: 70px;
        margin-top: 10px;
    }

}